<message-box>
    This is first message
</message-box>
<message-box>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis velit id libero pellentesque, maximus lacinia nisi accumsan. Vestibulum porttitor volutpat tellus quis posuere. Vestibulum vitae erat accumsan, imperdiet mauris tincidunt, egestas urna. Integer augue odio, finibus ac magna eget, varius bibendum dui. Nulla finibus, diam ut tempor mattis, nulla dolor rutrum erat, sit amet maximus lacus nisl sit amet neque. Nullam non dolor in tortor tincidunt euismod. Quisque vestibulum eleifend dignissim. Praesent a felis aliquam, lacinia nibh at, fringilla metus. Vivamus facilisis ut metus at dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</message-box>