<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>Testing</servlet-name>
		<servlet-class>TestingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Primitive</servlet-name>
		<servlet-class>PrimitiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigDemo</servlet-name>
		<servlet-class>ConfigDemoServlet</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>admin@brainysoftware.com</param-value>
		</init-param>
		<init-param>
			<param-name>adminContactNumber</param-name>
			<param-value>04298371237</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ContextDemo</servlet-name>
		<servlet-class>ContextDemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttributeSetter</servlet-name>
		<servlet-class>AttributeSetterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttributeGetter</servlet-name>
		<servlet-class>AttributeGetterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestDemo</servlet-name>
		<servlet-class>RequestDemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResponseDemo</servlet-name>
		<servlet-class>ResponseDemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Simple</servlet-name>
		<servlet-class>SimpleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SingleThreaded</servlet-name>
		<servlet-class>SingleThreadedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpRequestDemo</servlet-name>
		<servlet-class>HttpRequestDemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpRequestDemo2</servlet-name>
		<servlet-class>HttpRequestDemoServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login2</servlet-name>
		<servlet-class>LoginServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SpecialCharacter</servlet-name>
		<servlet-class>SpecialCharacterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PopulateValue</servlet-name>
		<servlet-class>PopulateValueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FirstServlet2</servlet-name>
		<servlet-class>FirstServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>SecondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FirstServlet3</servlet-name>
		<servlet-class>FirstServlet3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet3</servlet-name>
		<servlet-class>LoginServlet3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet4</servlet-name>
		<servlet-class>LoginServlet4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataViewerServlet</servlet-name>
		<servlet-class>DataViewerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SQLToolServlet</servlet-name>
		<servlet-class>SQLToolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet2</servlet-name>
		<servlet-class>SearchServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet2</servlet-name>
		<servlet-class>UpdateServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page1Servlet</servlet-name>
		<servlet-class>Page1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page2Servlet</servlet-name>
		<servlet-class>Page2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Page3Servlet</servlet-name>
		<servlet-class>Page3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MultipleFormsServlet</servlet-name>
		<servlet-class>MultipleFormsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieServlet</servlet-name>
		<servlet-class>CookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieLoginServlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.CookieLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.ContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PersistentCookieServlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.PersistentCookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckCookieServlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.CheckCookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionLoginServlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.SessionLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Content2Servlet</servlet-name>
		<servlet-class>com.kurnyavan.chapters5.Content2Servlet</servlet-class>
	</servlet>


	<servlet-mapping>
	    <servlet-name>Testing</servlet-name>
	    <url-pattern>/Testing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Primitive</servlet-name>
	    <url-pattern>/Primitive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ConfigDemo</servlet-name>
	    <url-pattern>/ConfigDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ContextDemo</servlet-name>
	    <url-pattern>/ContextDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>AttributeSetter</servlet-name>
	    <url-pattern>/AttributeSetter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>AttributeGetter</servlet-name>
	    <url-pattern>/AttributeGetter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>RequestDemo</servlet-name>
	    <url-pattern>/RequestDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ResponseDemo</servlet-name>
	    <url-pattern>/ResponseDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Simple</servlet-name>
	    <url-pattern>/Simple</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SingleThreaded</servlet-name>
	    <url-pattern>/SingleThreaded</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Register</servlet-name>
	    <url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>HttpRequestDemo</servlet-name>
	    <url-pattern>/HttpRequestDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>HttpRequestDemo2</servlet-name>
	    <url-pattern>/HttpRequestDemo2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Login2</servlet-name>
	    <url-pattern>/Login2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SpecialCharacter</servlet-name>
	    <url-pattern>/SpecialCharacter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>PopulateValue</servlet-name>
	    <url-pattern>/PopulateValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>FirstServlet</servlet-name>
	    <url-pattern>/First</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>FirstServlet2</servlet-name>
	    <url-pattern>/First2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SecondServlet</servlet-name>
	    <url-pattern>/Second</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>FirstServlet3</servlet-name>
	    <url-pattern>/First3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoginServlet3</servlet-name>
	    <url-pattern>/Login3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>WelcomeServlet</servlet-name>
	    <url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoginServlet4</servlet-name>
	    <url-pattern>/Login4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>RegistrationServlet</servlet-name>
	    <url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>DataViewerServlet</servlet-name>
	    <url-pattern>/DataViewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SearchServlet</servlet-name>
	    <url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SQLToolServlet</servlet-name>
	    <url-pattern>/SQLTool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SearchServlet2</servlet-name>
	    <url-pattern>/SearchServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>UpdateServlet</servlet-name>
	    <url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>DeleteServlet</servlet-name>
	    <url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>UpdateServlet2</servlet-name>
	    <url-pattern>/UpdateServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Page1Servlet</servlet-name>
	    <url-pattern>/Page1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Page2Servlet</servlet-name>
	    <url-pattern>/Page2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Page3Servlet</servlet-name>
	    <url-pattern>/Page3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>MultipleFormsServlet</servlet-name>
	    <url-pattern>/MultipleForms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>CookieServlet</servlet-name>
	    <url-pattern>/CookieServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>CookieLoginServlet</servlet-name>
	    <url-pattern>/CookieLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ContentServlet</servlet-name>
	    <url-pattern>/ContentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>PersistentCookieServlet</servlet-name>
	    <url-pattern>/PersistentCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>CheckCookieServlet</servlet-name>
	    <url-pattern>/CheckCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SessionLoginServlet</servlet-name>
	    <url-pattern>/SessionLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Content2Servlet</servlet-name>
	    <url-pattern>/Content2Servlet</url-pattern>
	</servlet-mapping>
</web-app>