<div class="container">
        <h3>User Registration</h3>
    
        <!--Angular автоматически устанавливает директиву ngForm для всех форм -->
        <form (ngSubmit)="onSubmit()" #userform="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <!-- Каждый элемент использует id для связи с label
                    и аттрибут name, для того, чтобы Angular Form ассоциировал
                    элемент управления с формой -->
                <input type="text" class="form-control" id="name" required="required" minlength="4" [(ngModel)]="model.name" name="name" #name="ngModel">
                
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">
                        Поле имя обязательное для заполнения
                    </div>
                    <div [hidden]="!name.errors.minlength">
                        Минимум 4 символа
                    </div>    
                </div>
            </div>
    
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" [(ngModel)]="model.age" name="age" required #age="ngModel">
                <div [hidden]='age.valid || age.pristine' class="alert alert-danger">
                    Поле возраст обязательное для заполнения
                </div>
            </div>
    
            <div class="form-group">
                <label for="role">Role</label>
                <select type="number" class="form-control" id="role" [(ngModel)]="model.role" name="role" required>
                    <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-default" [disabled]="!userform.form.valid">Submit</button>
        
        </form>